[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
discord = "*"
pynacl = "*"
youtube-dl = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9.1"

[scripts]
dev = "nodemon --exec python launcher.py"
